/* Sidebar styles */
.ant-menu-item-selected {
  background-color: #003366 !important; /* Active link background color */
  color: #fa8c15 !important; /* Active link text color */
}

.ant-menu-item-selected .anticon {
  color: #fa8c15 !important; /* Active icon color */  
}



/* Hover styles */

/* .anticon:hover {
  color: #fa8c15 !important; 
} */

/* .ant-menu-item:hover, .anticon:hover {   
  color: #fa8c15 !important;  
} */

.ant-menu-item-active, .ant-menu-item-active > .ant-menu-item-icon {
  color: #fa8c15 !important;  
}

/* General sidebar font color */
.ant-menu {
  /* Default font color -  */
  color: #038fdd !important; 
}

.ant-menu-item {
  font-weight: bold;  
}

.ant-menu-item-icon {
  color: #038fdd !important; /* Default icon color #1890ff */
}

.ant-menu-item .ant-menu-item > .ant-menu-title-content {  
  font-weight: bold;  
  color: #038fdd !important;
}

.ant-menu-submenu-arrow {
  color: #038fdd !important;
}

.ant-menu-item .ant-menu-item-selected > .ant-menu-title-content {
  color: #fa8c15 !important; 
}

/* Sub menu title */
.ant-menu-submenu-title > .ant-menu-title-content {
  font-weight: bold;
  color: #038fdd;
}

/* Sub menu open */
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-item-icon,
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-title-content,
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: white !important;
}
