/* global.css */
body, html, #root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.ant-layout {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* Table header & Label - font weight bold */
.ant-table-thead .ant-table-cell, .ant-form-item-label {
  font-weight: bold !important;
}
.ant-table-cell {
  font-weight: 600;
}

input[type='text'],   /* Input text box border color */
textarea,             /* Text area box border color */
.ant-picker-outlined, /* Date picker */
.ant-checkbox .ant-checkbox-inner, /* Checkbox border */
.ant-select-selector, /* Drop down box border color */
.ant-input-password   /* Border for password input */ {
  border-color: #909090 !important;
}

/* Drop down arrow and Calendar Icon */
.ant-select-arrow, .ant-picker-suffix {
  color: #909090 !important;
}

/* Remove border color for status drop down */
.customStatus .ant-select-selector {
  border: none !important;
}
/* Border radius for status drop down */
.customStatus > .ant-select {
  border-radius: 5px !important;
}

/* Checkbox checked */
.ant-checkbox-checked .ant-checkbox-inner {
  border: none;
}

#SeachInput {
  border-color: #d9d9d9 !important;
}

/* Pagination */
.ant-pagination .ant-pagination-item, .ant-pagination-options {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
}

.ant-pagination .ant-pagination-item-active {   
  border: 1px solid #1677ff;
}
.ant-pagination .ant-pagination-item-active a {
  color: #fff;
  background: #1677ff;
}

.ant-pagination .ant-pagination-item-active a:hover {  
  color: #fff;
}


/* Remove pagination border */
.customPagination > .ant-pagination-options .ant-select-selector{
  border: none;  
}
/* border radius for pagination */
.customPagination > .ant-pagination-options {
  border-radius: 4px;
}

/* Search box clear icon */
.anticon-close-circle:hover {
  color: #fa8c15 !important;
}

/* Sidebar styles */
.ant-menu-item-selected {
  background-color: #003366 !important; /* Active link background color */
  color: #fa8c15 !important; /* Active link text color */
}

.ant-menu-item-selected .anticon {
  color: #fa8c15 !important; /* Active icon color */  
}

.ant-menu-item-active, .ant-menu-item-active > .ant-menu-item-icon {
  color: #fa8c15 !important;  
}

/* General sidebar font color */
.ant-menu {
  /* Default font color -  */
  color: #038fdd !important; 
}

.ant-menu-item {
  font-weight: bold;  
}

.ant-menu-item-icon {
  color: #038fdd !important; /* Default icon color #1890ff */
}

.ant-menu-item .ant-menu-item > .ant-menu-title-content {  
  font-weight: bold;  
  color: #038fdd !important;
}

.ant-menu-submenu-arrow {
  color: #038fdd !important;
}

.ant-menu-item .ant-menu-item-selected > .ant-menu-title-content {
  color: #fa8c15 !important; 
}

/* Sub menu title */
.ant-menu-submenu-title > .ant-menu-title-content {
  font-weight: bold;
  color: #038fdd;
}

/* Sub menu open */
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-item-icon,
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-title-content,
.ant-menu-submenu-open > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: white !important;
}

/* Date input height */
.ant-picker-input {
  height: 30px;
}

/* Modal header color */
.ant-modal-title {
  color: #056dff !important;
  font-weight: bold !important;
}


